/node_modules
/public/hot
/public/storage
/public/contracts
/public/images
/public/files
/storage/*.key
/storage/app/google-calendar
/vendor
/.vscode
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
